body {
  background-image: url(coffee-background-7lhqifso991h2bq5.jpg);
  font-family: sans-serif;
  color: white;
  padding: 10px;
}

h1, h2, p, a {
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover, a:active {
  color: rgb(157, 124, 31);
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.header img {
  width: 200px;
  height: auto;
}

.menu {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(59, 52, 42);
}

section {
  margin-bottom: 30px;
}

section h2 {
  margin-bottom: 10px;
}

section img {
  display: block;
  margin: 0 auto;
  max-width: 100px;
  height: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item p {
  margin: 0;
}

.flavor {
  flex-grow: 1;
  text-align: left;
}

.price {
  flex-shrink: 0;
  text-align: right;
}

footer {
  font-size: 14px;
  margin-top: 20px;
}

.address {
  margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
  .header img {
    width: 150px;
  }

  section img {
    max-width: 80px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  .menu {
    padding: 10px;
  }
}
.Jamaica{
    background: linear-gradient(to right, red, black, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}